html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    flex-direction: column;
    line-height: 1.5;
}

.section {
    opacity: 0;
    transform: translateY(1.25rem);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.header {
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    height: 4.375rem;
    background-color: #141414;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: right;
    padding: 0 1.25rem;
    box-shadow: 0 0.25rem 0.5rem #3131314d;
    transition: box-shadow 0.7s ease-in-out;
}

.header.scrolled {
    box-shadow: 0 0.25rem 1.75rem #ffc0cbcc;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.name-mobile {
    display: none;
}

.bottom-space {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.625rem;
    background-color: #1a1a1a;
}

.skills,
.biography,
.projects-section,
.contact-section,
.gallery {
    scroll-margin-top: 6.875rem;
}

.timeline-container {
    scroll-margin-top: 5.625rem;
}

#experiences {
    scroll-margin-top: 8.125rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375rem 1.875rem;
    color: #fff;
}

.nav-links {
    display: flex;
    gap: 0.625rem;
    justify-content: right;
    transform: translateX(-2.5rem);
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 0.625rem;
    display: inline-block;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    padding: 1rem 0.75rem;
    /* Ajusté pour garantir une hauteur de 44px */
    transition: color 0.3s ease, font-size 0.3s ease;
}

.nav-links a:hover {
    color: #ffb6c1;
    font-size: 1.0625rem;
}

.burger {
    display: none;
}


/* sous menu ------------------------------------------------------------------------------------------------------------------------------------------------*/

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(0.625rem);
    background-color: #141414;
    border-radius: 0.625rem;
    padding: 0.625rem 0;
    flex-direction: column;
    min-width: 8.75rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu li a {
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    text-align: center;
    display: block;
    color: #fff;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.dropdown-menu li a:hover {
    color: #ffb6c1;
    font-size: 1.0625rem;
}


/* Affichage avec transition */

.dropdown:hover .dropdown-menu {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    pointer-events: auto;
}

.portfolio {
    flex-direction: column;
    margin-top: 1.5625rem;
    text-decoration: none;
}

.portfolio-link {
    margin-top: -1.25rem;
    color: #fff;
    font-size: 1.25rem;
    text-shadow: 0 0.25rem 0.5rem rgba(17, 17, 17, 0.3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.portfolio-img {
    width: 3.125rem;
    height: auto;
    display: block;
    border-radius: 1rem;
    margin-left: 0.5rem;
    transition: 0.3s;
}

.portfolio-img:hover {
    box-shadow: 0 0 0.625rem #ffc0cbcc;
}


/* intro ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.intro-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.25rem;
}

.intro {
    max-width: 50rem;
    color: #fff;
    animation: fadeInUp 1s ease-in-out;
}

.hello {
    margin-bottom: 12.5rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.intro-title {
    font-size: 3rem;
    font-family: 'Abril Fatface', serif;
    color: #ffc0cb;
    text-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.5);
    margin-top: -11.875rem;
}

.intro-description {
    font-size: 1.25rem;
    margin-top: -1.25rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 3.125rem;
    color: #ffffff;
    text-shadow: 0 0.125rem 0.125rem #ffc0cb;
}

.intro-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    z-index: 1000;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo-part {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
    z-index: 2;
    transition: transform 1s ease, opacity 0.5s ease;
}

.logo-part.left {
    transform-origin: right center;
}

.logo-part.right {
    transform-origin: left center;
}

.intro-animation.hidden .logo-part.left {
    transform: translateX(-100%) rotateY(90deg);
}

.intro-animation.hidden .logo-part.right {
    transform: translateX(100%) rotateY(90deg);
}

.intro-animation.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease 1s;
}

.main-content {
    opacity: 0;
    transition: opacity 1s ease 0.5s;
}

.main-content.visible {
    opacity: 1;
}

.main-content h1 {
    color: #ffc0cb;
    text-align: center;
    margin-top: 20%;
}

.presentation .intro-section {
    position: relative;
    overflow: hidden;
}

.intro {
    opacity: 0;
    transform: translateY(3.125rem);
    animation: slideIn 1s forwards;
    animation-delay: 0.5s;
}

.intro h5,
.intro h1,
.intro p,
.intro a {
    opacity: 0;
    transform: translateY(1.875rem);
    animation: fadeIn 2.5s forwards;
}

.intro h5 {
    animation-delay: 1.4s;
}

.intro h1 {
    animation-delay: 1.7s;
}

.intro p {
    animation-delay: 2s;
}

.intro a {
    animation-delay: 2.3s;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    /* Ajusté pour avoir une taille plus équilibrée */
    font-size: 1.125rem;
    font-weight: bold;
    font-family: 'Cambria', serif;
    color: #333;
    text-decoration: none;
    border-radius: 1.5625rem;
    background-color: #ffc0cb;
    box-shadow: 0 0 0.21875rem rgba(255, 192, 203, 0.8);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #e08e9d;
}


/* biographie ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.biography {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.3125rem;
    justify-content: space-around;
    padding: 3.125rem;
    gap: 1.875rem;
    padding-bottom: 4.375rem;
}

.biography h2 {
    font-size: 1.75rem;
    margin-top: -1.125rem;
    margin-bottom: -0.3125rem;
    font-family: 'Cambria', serif;
    color: #ffffff;
    position: relative;
    text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.biography h2::after {
    content: '';
    display: block;
    width: 6.25rem;
    height: 0.1875rem;
    background-color: #ffc0cb;
    margin: 0.625rem auto 0;
    border-radius: 0.125rem;
}

.profile {
    order: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.profile-img {
    width: 4.375rem;
    height: 5.625rem;
    border-radius: 1rem;
    object-fit: cover;
    margin-top: 1.875rem;
    box-shadow: 0 0 0.1125rem rgba(255, 192, 203, 0.8);
}

.profile-info {
    font-size: 1rem;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: -2rem;
    text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    margin-bottom: -1.875rem;
}

.column {
    display: flex;
    text-align: justify;
    background-color: #252525;
    padding: 0.3125rem 0.9375rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
    flex: 1 1 100%;
    max-width: 80%;
    margin: 0.625rem;
    transition: border 0.3s ease, transform 0.3s ease;
}

.column:hover {
    border: solid 1px #e08e9d;
    transform: scale(1.003);
}


/* timeline----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-color: #FBC9D8;
    padding-bottom: 10%;
    gap: 1.25rem;
    padding: 0px 14.6875rem;
}

.timeline {
    max-width: 37.5rem;
    margin: 2.5rem auto;
    padding: 0;
    list-style: none;
    position: relative;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 4.375rem;
    margin-bottom: -2.375rem;
    font-family: 'Cambria', serif;
    color: #ffffff;
    position: relative;
    text-align: center;
    text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.subtitle::after {
    content: '';
    display: block;
    width: 3.125rem;
    height: 0.125rem;
    background-color: #ffc0cb;
    margin: 0.3125rem auto 0;
    border-radius: 0.125rem;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 0.25rem;
    background: #d8d8d8;
    transform: translateX(-50%);
}

.timeline li:nth-child(odd) .content::before {
    content: '';
    position: absolute;
    top: 1.25rem;
    right: -1.0625rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent transparent transparent #ffb6c1;
}

.timeline li:nth-child(even) .content::before {
    content: '';
    position: absolute;
    top: 1.25rem;
    left: -1.0625rem;
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent #ffb6c1 transparent transparent;
}

.timeline li {
    position: relative;
    width: 50%;
    padding: 1.25rem 2.5rem;
    box-sizing: border-box;
}

.timeline li:nth-child(odd) {
    left: 0;
    text-align: right;
}

.timeline li:nth-child(even) {
    left: 50%;
}

.content {
    border: solid #ffb6c1;
    padding: 0.9375rem;
    border-radius: 0.375rem;
    box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.1);
    position: relative;
}

.content h3 {
    margin: 0;
    font-size: 1rem;
}

.content h3 span {
    display: block;
    font-size: 0.75rem;
    color: #ffdddd;
    margin-top: 0.25rem;
}

.content p {
    margin-top: 0.625rem;
    font-size: 0.8125rem;
    line-height: 1.4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.timeline li::before {
    content: '';
    position: absolute;
    top: 2.5rem;
    width: 0.875rem;
    height: 0.875rem;
    background: #ffb6c1;
    border-radius: 50%;
    z-index: 1;
}

.timeline li:nth-child(odd)::before {
    right: -0.375rem;
}

.timeline li:nth-child(even)::before {
    left: -0.375rem;
}


/* section des projets ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.projects-section {
    text-align: center;
    padding: 3.125rem 1.25rem;
    margin-bottom: 20%;
    color: #fff;
}

.projects-section h2 {
    font-size: 1.75rem;
    margin-bottom: 1.875rem;
    font-family: 'Cambria', serif;
    color: #ffffff;
    position: relative;
    text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.projects-section h2::after {
    content: '';
    display: block;
    width: 6.25rem;
    height: 0.125rem;
    background-color: #ffc0cb;
    margin: 0.625rem auto 0;
    border-radius: 0.125rem;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.project-card {
    width: 16.25rem;
    height: 27.5rem;
    border-radius: 1.25rem;
    flex-direction: column;
    border: solid #ffc0cb;
    display: flex;
    margin-top: 0.625rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.884);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #141414;
    padding: 0.4375rem;
}

.image {
    width: 100%;
    margin-top: 0.3125rem;
    max-width: 14.375rem;
    height: auto;
    border-radius: 0.75rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.3);
}

.image-legende {
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 0.125rem 0.125rem #434343;
    text-align: center;
}

.project-card:hover {
    transform: translateY(-0.625rem);
    box-shadow: 0 0.375rem 1.25rem #e08e9d;
}

.badge {
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.875rem;
    color: white;
    font-weight: 500;
    text-shadow: 0.0625rem 0.0625rem 0.1875rem #0000007d;
    display: inline-block;
    margin-bottom: 0.3125rem;
}

.badge-html {
    background-color: #E34F26;
}

.badge-css {
    background-color: #1572B6;
}

.badge-js {
    background-color: #f8dc07;
}

.badge-tailwindcss {
    background-color: #1572B6;
}

.badge-php {
    background-color: #8993BE;
}

.badge-photoshop {
    background-color: #31A8FF;
}

.badge-illustrator {
    background-color: #FF9A00;
}

.badge-photo {
    background-color: #ec2d70;
}

.badge-github {
    background-color: #181717;
}

.badge-wordpress {
    background-color: #21759B;
}


/* section des compétences ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.1875rem solid;
    border-color: #FBC9D8;
    padding-bottom: 10%;
    gap: 1.25rem;
    padding: 0.625rem;
}

.skills h2 {
    font-size: 1.75rem;
    margin-top: 1.875rem;
    font-family: 'Cambria', serif;
    color: #ffffff;
    position: relative;
    text-align: center;
    text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.skills h2::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.1875rem;
    background-color: #ffc0cb;
    margin: 0.625rem auto 0;
    border-radius: 0.125rem;
}

.skills-wrapper {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 3.125rem;
    margin: 0 0.625rem;
}

.skills-container {
    background-color: #141414;
    border: solid #ffc0cb;
    border-radius: 0.75rem;
    padding: 1.875rem;
    max-width: 25rem;
    text-align: center;
    box-shadow: 0 0.25rem 0.5rem rgb(0, 0, 0);
    margin-top: 3.125rem;
    margin-bottom: 1.25rem;
    flex: 1 1 40%;
    padding-left: 3.4375rem;
}

.skills-container h3 {
    color: #ffffff;
    margin-bottom: 1.25rem;
    font-size: 0.9375rem;
    margin-top: -0.625rem;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    width: 90%;
    margin: 0 0.625rem;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    padding: 0.9375rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    position: relative;
    height: 4.375rem;
    width: 85%;
    text-align: center;
    transition: color 1.8s ease, transform 1s ease;
}

.progress-bar {
    width: 100%;
    height: 100%;
    background-color: #252525;
    border-radius: 0.3125rem;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    box-shadow: -0.125rem 0.25rem 0.125rem #00000037;
}

.progress {
    width: 100%;
    height: 0%;
    background-color: #ffc0cb;
    border-radius: 0.3125rem;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: height 1s ease-in-out;
    z-index: 1;
}

.skill:hover .progress {
    height: var(--progress);
}

.skill[data-progress="20"] {
    --progress: 20%;
}

.skill[data-progress="30"] {
    --progress: 30%;
}

.skill[data-progress="40"] {
    --progress: 40%;
}

.skill[data-progress="50"] {
    --progress: 50%;
}

.skill[data-progress="60"] {
    --progress: 60%;
}

.skill[data-progress="70"] {
    --progress: 70%;
}

.skill[data-progress="80"] {
    --progress: 80%;
}

.skill[data-progress="100"] {
    --progress: 100%;
}

.skill p,
.skill span {
    position: relative;
    z-index: 2;
}

.skill-text {
    transition: color 1.8s ease;
}

.skill:hover .skill-text {
    color: #333333;
}

.skill p {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.skill span {
    font-size: 0.9rem;
    color: #808080;
}


/* galerie -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.cartes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    justify-items: center;
    gap: 3.125rem;
    margin-top: 5rem;
    perspective: 1000px;
    padding: 0 5rem;
}

.gallery h2 {
    font-size: 1.75rem;
    margin-top: 6.875rem;
    margin-bottom: -0.3125rem;
    text-align: center;
    font-family: 'Cambria', serif;
    color: #ffffff;
    position: relative;
    text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.gallery h2::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.1875rem;
    background-color: #ffc0cb;
    margin: 0.625rem auto 0;
    border-radius: 0.125rem;
}

.sous-titre {
    margin-top: 5.625rem;
    margin-bottom: -2.5rem;
    font-size: 1.25rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.sous-titre::after {
    content: '';
    display: block;
    width: 2.5rem;
    height: 0.09375rem;
    background-color: #ffc0cb;
    margin: 0.3125rem auto 0;
    border-radius: 0.125rem;
}

.carte {
    width: 18.75rem;
    height: 25rem;
    border-radius: 0.625rem;
    overflow: hidden;
    transform-style: preserve-3d;
    transition: transform 0.6s ease;
    position: relative;
}

.carte img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carte:hover {
    transform: rotateY(180deg);
    z-index: 1;
}

.btnglry {
    border-radius: 1.875rem;
    border: none;
    color: inherit;
    text-decoration: none;
    color: #121212;
    background-color: #ffc0cb;
    padding: 0.625rem 0.9375rem;
    font-size: 0.9375rem;
    font-family: 'Cambria', serif;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.btnglry:hover {
    cursor: pointer;
    background-color: #e08e9d;
    box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}


/* section de contact ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.contact-section {
    margin-top: 6.25rem;
    text-align: center;
    padding: 1.25rem;
}

.contact-section h2 {
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
    font-family: 'Cambria', serif;
    text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.contact-section h2::after {
    content: '';
    display: block;
    width: 6.25rem;
    height: 0.1875rem;
    background-color: #ffc0cb;
    margin: 0.625rem auto 0;
    border-radius: 0.125rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
    max-width: 31.25rem;
    margin: 0 auto;
    background-color: #242424;
    padding: 1.25rem;
    border: 1px solid transparent;
    border-radius: 0.625rem;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

form:hover {
    border-color: #ffc0cb;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

form label {
    align-self: flex-start;
    font-size: 1rem;
}

form input,
form textarea {
    width: 100%;
    max-width: 98%;
    min-width: 98%;
    padding: 0.625rem;
    font-size: 0.875rem;
    border-radius: 1.25rem;
    border: none;
    background-color: #e9d5db;
    color: #333;
    outline: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

form input:focus,
form textarea:focus {
    border: 0.125rem solid #ffc0cb;
    outline: none;
    box-shadow: 0 0 0.3125rem rgba(255, 192, 203, 0.8);
    transition: border 0.2s ease, box-shadow 0.3s ease;
}

.message {
    font-size: 1.125rem;
    padding-bottom: 1.875rem;
}

form button {
    margin: 0.9375rem;
    padding: 0.4375rem 0.9375rem;
    font-size: 0.9375rem;
    font-family: 'Cambria', serif;
    font-weight: bold;
    border: none;
    border-radius: 1.875rem;
    background-color: #ffc0cb;
    color: #333;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.2s ease;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.3);
    text-align: center;
}

form button:hover {
    background-color: #e08e9d;
    box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

footer {
    position: static;
    bottom: 0;
    height: 4.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    background-color: #121212;
    box-shadow: 0 0.25rem 0.625rem #44444484;
    color: white;
    text-align: center;
    padding: 0.625rem 0;
}

.insta-link,
.linkedin-link {
    outline: none;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}

.logo-reseaux {
    width: 2.5rem;
    height: auto;
    margin-right: 0.1875rem;
    transition: transform 0.3s ease;
    vertical-align: middle;
}

.logo-insta {
    width: 3.75rem;
}

.logo-linkedin {
    width: 2.625rem;
}

.logo-reseaux:hover {
    transform: scale(1.2);
}


/* media query ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 48em) {
    .name-mobile {
        display: flex;
        font-size: 0.9375rem;
        color: #f7edf0;
        text-shadow: 0 0.125rem 0.3125rem #999999;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    /* gallery-----------------------------------*/
    .gallery {
        grid-template-columns: 1fr;
    }
    /*skills ---------------*/
    .skill .progress {
        height: 0%;
    }
    .skill.active .progress {
        height: var(--progress);
    }
    /* timeline---------------------------*/
    .timeline-container {
        padding: 0 1.25rem;
        border-color: transparent;
    }
    .timeline::before {
        left: 0.5rem;
        transform: none;
    }
    .timeline li {
        width: 100%;
        padding-left: 1.875rem;
        padding-right: 0;
        text-align: left !important;
        left: 0 !important;
    }
    .timeline li::before {
        left: 0;
        right: auto;
    }
    .timeline li:nth-child(odd) .content::before,
    .timeline li:nth-child(even) .content::before {
        left: -1.0625rem;
        right: auto;
        border-color: transparent #ffb6c1 transparent transparent;
    }
    /* menu burger -----------------------------------------*/
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 1rem;
        width: 1.875rem;
        height: 1.5rem;
        cursor: pointer;
        z-index: 2;
        transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
        background: none;
        /* Si c'est un <button> */
        border: none;
        /* Si c'est un <button> */
    }
    .burger span {
        width: 1.875rem;
        height: 0.15625rem;
        background-color: #fff;
        border-radius: 0.1875rem;
        transition: all 0.3s ease;
    }
    .burger.active span:nth-child(1) {
        transform: rotate(45deg) translate(0.3125rem, 0.3125rem);
    }
    .burger.active span:nth-child(2) {
        opacity: 0;
    }
    .burger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(0.3125rem, -0.3125rem);
    }
    .burger:hover span {
        background-color: #ffb6c1;
    }
    .burger.active:hover span {
        background-color: #ffb6c1;
    }
    .nav-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        gap: 2.5rem;
        width: 100%;
        background-color: #141414;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.5s ease, opacity 0.5s ease, max-height 0.5s ease;
        z-index: 1;
        padding-top: 3.75rem;
        padding-bottom: 3.75rem;
    }
    .nav-links.open {
        transform: translateY(4.375rem);
        opacity: 1;
        max-height: 31.25rem;
    }
    .nav-links:not(.open) {
        transform: translateY(-100%);
        opacity: 0;
        max-height: 0;
    }
    .nav-links li {
        text-align: center;
        margin: 0.625rem 0;
    }
    .nav-links a {
        font-size: 1.125rem;
    }
}